@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');

@font-face {
  font-family: 'Komika';
  src: url("../assets/font/KOMIKAX_.ttf") format('truetype');
}



/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
:root {
  --beige: #FFE2FE;
  --beige-2: #D3C1D2;
  --gris: #939196;
  --gris-2: #626868;
  --green: #273C2C;
  --noir: black;
  --blanc: white;
  --roboto: "roboto";
  --bebas: "Bebas Neue";
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 5000px;
}

#cta-icon {
  position: absolute;
  bottom: 60px;
  left: 50%;
  color: var(--blanc);
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 50px;
  text-shadow: 0 0 40px rgba(255, 255, 255, 1.5);
}


#scroll-target {
  height: 2000px;
}


header {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-image: url("../assets/img/night-sky.png");
}



header h1 {
  font-size: 5.5vw;
  font-family: 'Komika', sans-serif;
  margin: 20px;
  color: var(--blanc);
  top: 0;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }

  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }

  100% {
    text-shadow: 0 0 40px rgba(255, 255, 255, 1.5);
  }
}


header p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
  color: var(--blanc);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  box-sizing: border-box;
}

.image-header {
  background-image: url("../assets/img/airplane.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px;
}

main {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}


section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  background-attachment: fixed;
}


footer {
  color: var(--green);
  background-color: var(--beige);
  font-size: small;
  text-align: center;
  bottom: 0;
  width: 100%;
}


/*
ul.technique-gsap{
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li{
  margin: 5px 0;
}
*/


.text-container {
  top: 10vh;
  left: 10vh;
  position: absolute;
  font-family: 'Komika';
  color: var(--beige);
  font-size: 2.5vw;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  margin: 0.5vw;
}

/*---------------------------------------------------------- 






# Chapitre 1
----------------------------------------------------------*/
.chapitre-1 {
  background-image: url("../assets/img//mountains.png");
  position: relative;
}

#sprite-sheet-bird {
  width: 30vw;
  background-image: url("../assets/img/spritesheet_bird.png");
  background-size: 300% 100%;
  animation: Sprite 1s steps(3) infinite;
  aspect-ratio: 811/422;
  animation-play-state: paused;

}

body.is-scrolling #sprite-sheet-bird {
  animation-play-state: running;
}


@keyframes Sprite {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -300% 0;
  }
}

/*---------------------------------------------------------- 




# Chapitre 2
----------------------------------------------------------*/
.chapitre-2 {
  background-image: url("../assets/img/desert.png");
  position: relative;
}

#desert-ball {
  width: 10vw;
  position: relative;
  left: -50vw;
  top: 50vh;
  transform: translateY(-50%);
}

/*---------------------------------------------------------- 





# Chapitre 3
----------------------------------------------------------*/
.chapitre-3 {
  background-image: url("../assets/img/ocean.png");
  position: relative;
}

#sprite-sheet-whale {
  width: 30vw;
  position: relative;
  left: -50vw;
  bottom: -80vh;
  transform: translateY(-50%);
  background-image: url("../assets/img/spritesheet_whale.png");
  background-size: cover;
  animation: whale 1s steps(42) infinite;
  aspect-ratio: 1/1;
  animation-play-state: paused;
}

@keyframes whale {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1260vw 0;
  }
}

body.is-scrolling #sprite-sheet-whale {
  animation-play-state: running;
}

/*---------------------------------------------------------- 





# Chapitre 4
----------------------------------------------------------*/
.chapitre-4 {
  background-image: url("../assets/img/sky-night.png");
  position: relative;
}

#lune-1 {
  width: 30vw;
  position: absolute;
  top: 0;
  left: 0;
}

#lune-2 {
  width: 30vw;
  position: absolute;
  top: 0;
  left: 0;
}

/*---------------------------------------------------------- 




# Chapitre 5
----------------------------------------------------------*/
.chapitre-5 {
  background-image: url("../assets/img/space-backg.png");
  position: relative;
}


#planete-2 {
  width: 50vw;
}

#planete-3 {
  width: 30vw;
}

/*---------------------------------------------------------




# Chapitre 6
----------------------------------------------------------*/
.chapitre-6 {
  background-image: url("../assets/img/space-back-2.png");
  position: relative;
}

#planete-1 {
  width: 30vw;
}

/*---------------------------------------------------------- 





# Chapitre 7
----------------------------------------------------------*/
.chapitre-7 {
  background-image: url("../assets/img/mail-box.jpg");
  position: relative;
}

#bubble {
  width: 30vw;
  position: absolute;
  top: 0;
  right: 0;
}

/*---------------------------------------------------------- 