@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');



  :root {
    --beige: #FFE2FE;
    --beige-2: #D3C1D2;
    --gris: #939196;
    --gris-2: #626868;
    --green: #273C2C;
    --noir: black;
    --blanc: white;
    --roboto: "roboto";
    --bebas: "Bebas Neue";
  }

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.scroll-cta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--green);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
     font-size: 1rem;
}
.scroll-cta:hover {
    background-color: #555;
}



#scroll-target {
    height: 2000px;
}


.scroll-cta i {
    margin-bottom: 5px;

  }


header {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-image: url("../assets/img/plane-header.avif");
  }

  header h1 {
    font-size: 5vw;
    margin: 20px;
    color: var(--green);
    top: 0;
}

header p {
    font-size: 11px;
    color: var(--green);

}


main {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }


  section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red; 
    background-size: cover;
    background-position: center;
  }

  .chapitre-1 {
    background-image: url("../assets/img/chap-1.avif");
  }



footer {
    color: black;
    font-size: small;
    bottom: 0;
    width: 100%;
  }